// Mixin para generar variables CSS con fallback y aplicarlas directamente en :root
@mixin generate-css-variables($map, $prefix: "", $global: false) {
  @each $key, $value in $map {
    $current-key: if($prefix =="", $key, "#{$prefix}-#{$key}");

    @if type-of($value)=='map' {
      @include generate-css-variables($value, $current-key, $global);
    }

    @else {

      $variable-name: "--#{$current-key}";
      $prefixed-variable-name: "--_#{$current-key}";
      $fallback-value: "#{$value}";

      @if $global {
        #{$variable-name}: #{$fallback-value};
      }

      @else {
        #{$variable-name}: var(#{$prefixed-variable-name}, #{$fallback-value});
      }
    }
  }
}